<div class="ui visible inverted left thin vertical sidebar menu" id="thinsidebar">
    <div class="ui inverted padded center aligned segment">
        <div class="item">
            <a class="ui logo icon image" >
                <img class="ui center tiny  circular image" src="../static/image/logo.png">
            </a>
            <br/><br/>
            <a class="centered"><b>MyCloud</b></a>
        </div>
    </div>
    <div class="ui inverted accordion">
      <div class="active title"> <a class="item"><i class="home icon"></i> 应用管理</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i>  </a>
              <a class="item"><i class="block layout icon"></i> 应用 </a>
              <a class="item"><i class="smile icon"></i> 容器 </a>
              <a class="item"><i class="calendar icon"></i> 存储 </a>
          </div>
      <div class="active title"> <a class="item"><i class="home icon"></i> 交付中心</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i>  </a>
              <a class="item"><i class="block layout icon"></i> 镜像仓库 </a>
              <a class="item"><i class="smile icon"></i> 应用商店 </a>
              <a class="item"><i class="calendar icon"></i> 编排文件 </a>
          </div>
      <div class="active title"> <a class="item"><i class="home icon"></i> 持续集成</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i>  </a>
              <a class="item"><i class="block layout icon"></i> 代码仓库 </a>
              <a class="item"><i class="smile icon"></i> Dockerfile </a>
              <a class="item"><i class="calendar icon"></i> 备份管理 </a>
          </div>
      <div class="active title"> <a class="item"><i class="home icon"></i> 管理与日志</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i>  </a>
              <a class="item"><i class="block layout icon"></i> 操作审计 </a>
              <a class="item"><i class="smile icon"></i> 日志查询 </a>
          </div>
      <div class="active title"> <a class="item"><i class="home icon"></i> 数据库管理</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i> 实例管理 </a>
              <a class="item"><i class="block layout icon"></i> 数据库管理 </a>
              <a class="item"><i class="smile icon"></i> 用户管理 </a>
              <a class="item"><i class="calendar icon"></i> 备份管理 </a>
          </div>
    </div>
</div>

